<ul class="sidebar-nav">
    <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/website-archive']">
            <i class="fa fa-code" aria-hidden="true"></i> <span>Website archives</span>
        </a>
    </li>
    <li [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/watchdog']">
            <i class="fa fa-code" aria-hidden="true"></i> <span>Watchdogs</span>
        </a>
    </li>
</ul>