<div class="nav-container">
  <h1>areawa</h1>

  <ul class="nav nav-pills justify-content-end">
    <li *ngIf="isLogged" class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/website-archive']">Website archives</a>
    </li>
    <li *ngIf="isLogged" class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/watchdog']">Watchdogs</a>
    </li>
    <li *ngIf="!isLogged" class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{exact: true}">
      <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/login']">Login</a>
    </li>
  </ul>
</div>