#mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.8;
    z-index: 999;
    text-align: center;
}

#mask i {
    color: #000;
    position: relative;
    top: 45%;
    transform: translateY(-45%);
}