<div class="row">
  <div class="col-lg-8 col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-subtitle mb-2 text-muted">website archive</h4>
        <h2>{{ title }}</h2>
        <div class="wa-description">{{ websiteArchive.description }}</div>
        <div class="content-preview">
          <iframe src="https://areawa.blob.core.windows.net/{{websiteArchive.archiveUrl}}" title="{{ websiteArchive.name }}" height="100%" width="100%" />
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Properties</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ websiteArchive.shortId }}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngIf="websiteArchive.status == 0">Status: <span class="badge bg-danger">Error</span></li>
        <li class="list-group-item" *ngIf="websiteArchive.status == 1">Status: <span class="badge bg-info text-dark">Pending</span></li>
        <li class="list-group-item" *ngIf="websiteArchive.status == 2">Status: <span class="badge bg-primary">Processing</span></li>
        <li class="list-group-item" *ngIf="websiteArchive.status == 3">Status: <span class="badge bg-success">Ok</span></li>
        <li class="list-group-item" *ngIf="websiteArchive.status == 4">Status: <span class="badge bg-warning text-dark">Source changed</span></li>
        <li class="list-group-item" *ngIf="websiteArchive.status == 5">Status: <span class="badge bg-warning text-dark">Source not found</span></li>
        <li class="list-group-item">Archive type: <b>{{ archiveType }}</b></li>
        <li class="list-group-item">Source: <b><a href="{{websiteArchive.sourceUrl}}" target="_blank" rel="nofollow">Open</a></b></li>
        <li class="list-group-item">Archive: <b><a href="https://areawa.blob.core.windows.net/{{websiteArchive.archiveUrl}}" target="_blank">Open</a></b></li>
        <li class="list-group-item">Created: <b>{{ websiteArchive.created | date: 'dd.MM.yyyy H:mm' }}</b></li>
        <li class="list-group-item">Updated: <b>{{ websiteArchive.updated | date: 'dd.MM.yyyy H:mm' }}</b></li>
      </ul>

      <!-- <div class="card-body">
        <a *ngIf="auth.isAuthenticated()" class="btn btn-sm btn-outline-warning"
          [routerLink]="['/blogs/' + postType + '/edit/', blog.url]"><i class="fa fa-pencil"
            aria-hidden="true"></i></a>
        <button *ngIf="auth.isAuthenticated()" class="btn btn-sm btn-outline-danger" style="margin-left: 0.5rem;"
          (click)="delete()"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </div> -->
    </div>
  </div>
</div>
<loading-spinner [is-loading]="isLoading"></loading-spinner>